[submodule "InputBox"]
	path = InputBox
	url = https://github.com/wikimedia/mediawiki-extensions-InputBox
	branch = REL1_35
[submodule "AbuseFilter"]
	path = AbuseFilter
	url = https://github.com/wikimedia/mediawiki-extensions-AbuseFilter
	branch = REL1_35
[submodule "WikiLove"]
	path = WikiLove
	url = https://github.com/wikimedia/mediawiki-extensions-WikiLove
	branch = REL1_35
[submodule "FlaggedRevs"]
	path = FlaggedRevs
	url = https://github.com/wikimedia/mediawiki-extensions-FlaggedRevs
	branch = REL1_35
[submodule "UniversalLanguageSelector"]
	path = UniversalLanguageSelector
	url = https://github.com/wikimedia/mediawiki-extensions-UniversalLanguageSelector
	branch = master
[submodule "Thanks"]
	path = Thanks
	url = https://github.com/wikimedia/mediawiki-extensions-Thanks
	branch = REL1_35
[submodule "OATHAuth"]
	path = OATHAuth
	url = https://github.com/wikimedia/mediawiki-extensions-OATHAuth
	branch = REL1_35
[submodule "Scribunto"]
	path = Scribunto
	url = https://github.com/wikimedia/mediawiki-extensions-Scribunto
	branch = REL1_35
[submodule "OAuth"]
	path = OAuth
	url = https://github.com/wikimedia/mediawiki-extensions-OAuth
	branch = REL1_35
[submodule "VisualEditor"]
	path = VisualEditor
	url = https://github.com/wikimedia/mediawiki-extensions-VisualEditor
	branch = REL1_35
[submodule "CodeEditor"]
	path = CodeEditor
	url = https://github.com/wikimedia/mediawiki-extensions-CodeEditor
	branch = REL1_35
[submodule "ConfirmEdit"]
	path = ConfirmEdit
	url = https://github.com/wikimedia/mediawiki-extensions-ConfirmEdit
	branch = REL1_35
[submodule "Echo"]
	path = Echo
	url = https://github.com/wikimedia/mediawiki-extensions-Echo
	branch = REL1_35
[submodule "Gadgets"]
	path = Gadgets
	url = https://github.com/wikimedia/mediawiki-extensions-Gadgets
	branch = REL1_35
[submodule "Interwiki"]
	path = Interwiki
	url = https://github.com/wikimedia/mediawiki-extensions-Interwiki
	branch = REL1_35
[submodule "MassMessage"]
	path = MassMessage
	url =https://github.com/wikimedia/mediawiki-extensions-MassMessage
	branch = REL1_35
[submodule "MediaWikiChat"]
	path = MediaWikiChat
	url = https://github.com/wikimedia/mediawiki-extensions-MediaWikiChat
	branch = REL1_35
[submodule "Nuke"]
	path = Nuke
	url = https://github.com/wikimedia/mediawiki-extensions-Nuke
	branch = REL1_35
[submodule "ParserFunctions"]
	path = ParserFunctions
	url = https://github.com/wikimedia/mediawiki-extensions-ParserFunctions
	branch = REL1_35
[submodule "SpamBlacklist"]
	path = SpamBlacklist
	url = https://github.com/wikimedia/mediawiki-extensions-SpamBlacklist
	branch = REL1_35
[submodule "SocialProfile"]
	path = SocialProfile
	url = https://github.com/wikimedia/mediawiki-extensions-SocialProfile
	branch = master
[submodule "Translate"]
	path = Translate
	url = https://github.com/wikimedia/mediawiki-extensions-Translate
	branch = master
[submodule "luasandbox"]
	path = luasandbox
	url = https://github.com/wikimedia/mediawiki-php-luasandbox
	branch = master
[submodule "WikiEditor"]
	path = WikiEditor
	url = https://github.com/wikimedia/mediawiki-extensions-WikiEditor
	branch = REL1_35
[submodule "RenameUser"]
	path = RenameUser
	url = https://github.com/wikimedia/mediawiki-extensions-RenameUser
	branch = REL1_35
[submodule "PdfHandler"]
	path = PdfHandler
	url = https://github.com/wikimedia/mediawiki-extensions-PdfHandler
	branch = REL1_35
[submodule "DismissableSiteNotice"]
	path = DismissableSiteNotice
	url = https://github.com/wikimedia/mediawiki-extensions-DismissableSiteNotice
	branch = REL1_35
[submodule "CheckUser"]
	path = CheckUser
	url = https://github.com/test-wiki/mediawiki-extensions-CheckUser
	branch = REL1_35
[submodule "StaffPowers"]
	path = StaffPowers
	url = https://github.com/wikimedia/mediawiki-extensions-StaffPowers
	branch = master
[submodule "TitleBlacklist"]
	path = TitleBlacklist
	url = https://github.com/wikimedia/mediawiki-extensions-TitleBlacklist
	branch = REL1_35
[submodule "MatomoAnalytics"]
	path = MatomoAnalytics
	url = https://github.com/miraheze/MatomoAnalytics
	branch = master
[submodule "CookieWarning"]
	path = CookieWarning
	url = https://github.com/wikimedia/mediawiki-extensions-CookieWarning
	branch = REL1_35
[submodule "MobileFrontend"]
	path = MobileFrontend
	url = https://github.com/wikimedia/mediawiki-extensions-MobileFrontend
        branch = REL1_35
[submodule "Newsletter"]
	path = Newsletter
	url = https://github.com/wikimedia/mediawiki-extensions-Newsletter
	branch = REL1_35
