[submodule "InputBox"]
	path = InputBox
	url = https://github.com/wikimedia/mediawiki-extensions-InputBox
	branch = REL1_28
[submodule "AbuseFilter"]
	path = AbuseFilter
	url = https://github.com/wikimedia/mediawiki-extensions-AbuseFilter
	branch = master
[submodule "WikiLove"]
	path = WikiLove
	url = https://github.com/wikimedia/mediawiki-extensions-WikiLove
	branch = REL1_28
[submodule "FlaggedRevs"]
	path = FlaggedRevs
	url = https://github.com/wikimedia/mediawiki-extensions-FlaggedRevs
	branch = REL1_28
[submodule "UniversalLanguageSelector"]
	path = UniversalLanguageSelector
	url = https://github.com/wikimedia/mediawiki-extensions-UniversalLanguageSelector
	branch = master
