[submodule "InputBox"]
	path = InputBox
	url = https://github.com/wikimedia/mediawiki-extensions-InputBox
	branch = REL1_28
[submodule "AbuseFilter"]
	path = AbuseFilter
	url = https://github.com/wikimedia/mediawiki-extensions-AbuseFilter
	branch = master
[submodule "WikiLove"]
	path = WikiLove
	url = https://github.com/wikimedia/mediawiki-extensions-WikiLove
	branch = REL1_28
[submodule "FlaggedRevs"]
	path = FlaggedRevs
	url = https://github.com/wikimedia/mediawiki-extensions-FlaggedRevs
	branch = REL1_28
[submodule "UniversalLanguageSelector"]
	path = UniversalLanguageSelector
	url = https://github.com/wikimedia/mediawiki-extensions-UniversalLanguageSelector
	branch = master
[submodule "Thanks"]
	path = Thanks
	url = https://github.com/wikimedia/mediawiki-extensions-Thanks
	branch = REL1_28
[submodule "VisualEditor"]
	path = VisualEditor
	url = https://github.com/wikimedia/mediawiki-extensions-VisualEditor
	branch = REL1_28
[submodule "OATHAuth"]
	path = OATHAuth
	url = https://github.com/wikimedia/mediawiki-extensions-OATHAuth
	branch = REL1_28
